* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #323232;
    border: none;
}

body {
    background-image: url('../image/background.jpg');
    background-size: cover;
}

textarea:focus, input:focus{
    outline: none;
}

a, label {
    font-size: .8rem;
}

a:hover{
    color: #08558B;
}

#login-container {
    background-color: #FFF;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 8px;
    text-align: center;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #EBEF12;
}

#forgot-pass {
    text-align: center;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    color: #000;
    background-color: #EBEF12;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FFF;
    border: 1px solid #EBEF12;
    transition: 0.4s;
}

#social-container, #social-container p {
    margin-bottom: 20px;
}

#social-container i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    margin: 0 5px;
    cursor: pointer;
}

.fa-facebook-square {
    background-color: #000000;
}

.fa-linkedin {
    background-color: #0077B5;
}

.fa-google {
    background-color: #000000;
}

#register-container p{
    margin-bottom: 10px;
}